.shop-container{
    max-width: 1200px;
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
    margin: 0 auto;
}
.shop{
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 5fr 2fr;

}

.shop h2{
    font-size: 2rem;
}

.laptops{
    display:grid;
    grid-template-columns: repeat(3,1fr)
}
.cart-container{
    margin-left: .5rem;
}

/* RESPONSIVENESS */

@media screen and (max-width: 967px) {
    .laptops{
        
        grid-template-columns: repeat(1,1fr)
    }
}


