.shop-item{
    margin: .5rem;
    padding: .5rem;
    border: 3px solid #b8f2e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
}

.img-container img{
        width: 70%;
}

.name{
    font-size: 1.5rem;
    font-weight: 600;
}
.price{
    font-size: 1.3rem;
    font-weight: 400;
}