.shop-item{
    margin: .5rem;
    padding: .5rem;
    border: 3px solid #b8f2e6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
}

.img-container img{
        width: 70%;
}

.name{
    font-size: 1.5rem;
    font-weight: 600;
}
.price{
    color:#49c3ab;
    font-size: 1.3rem;
    font-weight: 500;
}

.details{
    margin: 1rem 0;
}
button{
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 7px;
}
.footer button:hover{
    background-color: #C5EDEF;
}

/* RESPONSIVENESS */

@media screen and (max-width: 967px) {
    .img-container img{
        width: 50%;
}
}

